body {
  /* TODO: check color */
  background: lightgray;
}

footer {
  /* TODO: check color */
  background: lightseagreen;
}

header {
    /* TODO: check color */
    background: lightblue;
}

#allcontent {
  width: 960px;
}

.maincontent {
  width: 650px;
  /* TODO: check color */
  background: lawngreen;
}

.nav {

}

.real_me {
  width: 200px;
  height: 180px;
  float: left;
}

.sidebar {
    /* TODO: check color */
    background: lightcoral;
    width: 270px;
    float: right;
}
