a {
    /* TODO: check color */
    color: gray;
}

body {
  /* TODO: check color */
  background: lightgray;
}

footer {
  /* TODO: for bonus, make footer sticky */
  /* TODO: check background and color */
  background: darkgray;
  color: white;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  /* TODO: check border color */
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: teal;
}

h1 {
  /* TODO: move background to class and change to correct one */
  background: green;
  text-align: center;
  width: 250px;
  height: 50px;
  /* TODO: check color and correct */
  color: white;
  /* float: left; */
}

h2 {
  /* TODO: check color */
  color: teal;
}

header {
    /* TODO: check color */
    background: lightblue;
}

hr {
  /* TODO: check color; need to change both*/
  /* TODO: check width */
  background-color: black;
  border-color: black;
}
section {
  clear: both;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* .allcontent {
  width: 960px;
} */

.connect_header {
  text-align: center;
  font-size: 18px;
}

.maincontent {
  width: 650px;
  /* TODO: check color */
  background: lawngreen;
}

.nav {
  text-align: right;
}

.page_header_content {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.real_me {
  width: 200px;
  height: 180px;
  float: left;
  margin-right: 20px;
}

.sidebar {
    /* TODO: check color */
    background: lightcoral;
    width: 270px;
    float: right;
}
