body {
  /* TODO: check color */
  background: lightgray;
}

footer {
  /* TODO: check color */
  background: lightseagreen;
}

h1 {
  /* TODO: pull color to class and change to correct one */
  background: green;
  text-align: center;
  width: 250px;
  /* float: left; */
}

header {
    /* TODO: check color */
    background: lightblue;
}

hr {
  /* TODO: check color; need to change both*/
  /* TODO: check width */
  background-color: black;
  border-color: black;
}
section {
  clear: both;
}

#allcontent {
  width: 960px;
}

.maincontent {
  width: 650px;
  /* TODO: check color */
  background: lawngreen;
}

.nav {
  text-align: right;
  /* width: 100px;
  float: right; */
}

.real_me {
  width: 200px;
  height: 180px;
  float: left;
}

.sidebar {
    /* TODO: check color */
    background: lightcoral;
    width: 270px;
    float: right;
}
